#zero{
background-color: #967278 ;
color: #fff;
}
#one{
background-color: #468966 ;
color: #fff;
}
#two{
background-color: #BC4D96 ;
color: #fff;
}
#three{
background-color: #4DB8BC ;
}
#four{
background-color: #1BE7EF ;
}