body{
background-color: hsla(34, 40%, 14%, 0.65);
font-family: 'Montserrat', sans-serif;
color: #5A3125;
}
/*whole page*/

#page{
	background-color: hsla(209, 63%, 56%, 0.78);
    height: auto;
    width: 75%;
    border: 5px solid #B0C359;
    padding: 1%;
    margin: -.6% 10% -10% 10%;
    box-shadow: 5px 5px 40px 1px hsla(209, 63%, 56%, 0.5);
    border-radius: 10px;
	}
	
/*navigation*/	
#nav li{
	display:inline-block;
	margin:2% 3% 2% 3%;
}

ul{
list-style-type: square;
text-align: center;
}
/*ordered list and paragraph styling*/
ol, p{
	font-family: 'Ubuntu', sans-serif;
	font-style: normal;
}

ol {
	color:#B0C359;
	font-weight: bold;
	line-height: 160%;
	margin-top:-2%;
}

/*article borders*/
#gen, #climb, #setting{
	border-bottom: 3px solid #B0C359;
	box-shadow: 0 4px 4px -3px #797166;
}
#climb{
	border-top: 3px solid #B0C359;
	box-shadow: 0 4px 4px -3px #797166;
}
/*heading styles*/
h1{
	color: #BFAE98;
	text-align: center;
	text-shadow: 2px 2px #312515;
}

h2{
	margin-bottom:1%;
	padding-top:1%;
	color: #BFAE98;
	text-align: center;
}

h3{
	padding:.1%;
}
h4{
	color: #B0C359;
	
	text-align:center;
}
/*Columns*/
.first {
				float: left;
				height:100%;
				width: 50%;
				margin: 1%;
				}
.second {
				float: left;
				height: 100%;
				width:45%;
				margin: 1%;}
.reset{
	clear: left;
	}
/*paragraph styles*/

p #intro{
	color: #797166;
}

p{
	padding:1%;
}

/*link styles*/
a{
text-decoration: none;
}

a:link, a:visited{
color: #B0C359;
}

a:hover{
color: #574F58;
}

a:active{
background-color: rgba(190, 173, 151, 0.66);
border: 2px solid #B0c359;
border-radius: 5px;
padding:1%;
}

/*gallery styles*/

figure a:active{
	border:initial;
	background-color:initial;
	padding:initial;
}

figure {
    margin: 1%;
    padding: 1%;
    height: 20em;
    width: 10em;
    float: left;
}	

figure img {
    display: inline;
    margin: 5%;
    border: 4px solid #B0C359;
    box-shadow: 3px 4px 4px 1px #797166;
    
}

figure a:hover img {
    border: 4px solid #B0C359;
    box-shadow: 3px -4px 4px 1px #797166;
}

figcaption {
  text-align: center;
  width: 12em;
  margin: 5px;
  font-size:14px;
}

.credit{
font-style: italic;
display: block;
font-size: 10px;
}
/** Lightbox code Written by Gregory Schier http://schier.co/blog/2013/11/16/creating-pure-css-lightboxes-with-the-target-selector.html*/
.lightbox {
	display: none;

	/** Position and style */
	position: fixed;
	z-index: 999;
	width: 100%;
	height: 100%;
	text-align: center;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
}

.lightbox img {
	
	max-width: 90%;
	max-height: 80%;
	margin-top: 2%;
}

.lightbox:target {
	/** Remove default browser outline*/
	outline: none;

	/** Unhide lightbox **/
	display: block;
}

/*footer styles*/
footer{
clear:left;
padding-top:1%;
}

footer p{
margin-bottom: 3%;
}


